<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
<connectionStrings><add name="HmailServerContainer" connectionString="metadata=res://*/Model.HmailServer.csdl|res://*/Model.HmailServer.ssdl|res://*/Model.HmailServer.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.111.107;initial catalog=hMalServer;persist security info=True;user id=sa;password=Mc123456;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>